[submodule "AttackLogcatCLI"]
	path = AttackLogcatCLI
	url = git@github.com:Association-of-stupid-people/AttackLogcatCLI.git
[submodule "HTDotFileCLI"]
	path = HTDotFileCLI
	url = git@github.com:Association-of-stupid-people/HTDotFileCLI.git
[submodule "AABTOAPK_CLI"]
	path = AABTOAPK_CLI
	url = https://github.com/Association-of-stupid-people/AABTOAPK_CLI.git
