[submodule "aabToApk"]
	path = aabToApk
	url = D:\\Work\\ProjectGamePersonal\\aabToApk
[submodule "AttackLogcatCLI"]
	path = AttackLogcatCLI
	url = git@github.com:Association-of-stupid-people/AttackLogcatCLI.git
